{
    email {$ACME_EMAIL}
}

dashboard.{$STRATA_DOMAIN} {
    encode zstd gzip
    reverse_proxy strata:3000
    log {
        output file /var/log/caddy/dashboard.log
    }
}

api.{$STRATA_DOMAIN} {
    encode zstd gzip
    reverse_proxy strata:3000
    log {
        output file /var/log/caddy/api.log
    }
}
